#!/usr/bin/env bash

echo "########################################################" 
echo "##                                                    ##"
echo "##  system managed by:                                ##"
echo "##                                     _ _            ##"
echo "##            ___  _ __  ___ _ __ ___ | | |           ##"
echo "##           / _ \| '_ \/ __| '__/ _ \| | |           ##"
echo "##          | (_) | |_) \__ \ | | (_) | | |           ##"
echo "##           \___/| .__/|___/_|  \___/|_|_|           ##"
echo "##                |_|                                 ##"
echo "##                                                    ##"
echo "##  for support visit https://www.opsroll.com/support ##"
echo "##                                                    ##"
echo "########################################################"
